body {
    background-color: #91B1B6;
}

.container {
    width: max-content;
    margin: 0 auto;
    margin-top: 30vh;
    background-color: #D1DED8;
    padding: 50px;
    text-align: center;
}

form {
    display: inline;
}
label {
    display: block;
    color: #7C6D53;
    font-weight: bold;
    text-align: left;
    padding: 2px 0;
}

.form-row {
    padding: 5px 0;
}

.button {
    margin: 5px 0 -5px 0;
}