body {
    background-color: #E7FFB0;
}

.container {
    width: 100%;
    text-align: center;
    margin-top: 20%;
}

.square {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #FF9B7D;
}

.big {
    background-color: #FFC888;
}